* {
    margin: 0px;
    background-color: rgb(2, 2, 18)
}



ul li {
    float: left;
    text-decoration: none;
    list-style: none;
    margin: 10px;
    font-size: 20px;
    background-color: black;
}

.nav-h {
    color: white;
    font-size: 25px;
}

.nav-home {
    color: white;
}

.cerca {
    float: right;
}

.burger {
    display: none;


}

.nav-bar {

    width: 800px;
    height: 60px;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    background-color: rgba(4, 4, 4, 0.818);



}

.nav-home,
.link,
#disabled,
select {
    padding: 10px;
    background-color: black;
}



.link {
    color: grey;
}

#disabled {
    color: lightgray;
}


#search {
    background-color: white;
    width: 150px;
    height: 30px;
    border-radius: 3px;
}

#sub {
    color: green;
    border: 1px solid green;
    width: 70px;
    height: 35px;
    background-color: rgba(4, 4, 4, 0.818);

}

select {
    border: none;
    color: gray;

}

#sub:hover {
    background-color: green;
    color: white;
}

/* media query */
@media screen and (max-width: 768px) {

    .nav-home,
    .link,
    select,
    #disabled,
    .search,
    .cerca {

        display: none;
    }

    .nav-bar {
        max-width: 100%;






    }

    .nav-h {


        float: left;

        font-size: 40px;

    }

    .burger {
        display: list-item;
        color: white;
        width: 50px;
        height: 50px;
        float: right;
       




    }

}